export TWITTER_HANDLE="MyScreenName"

# Go to https://apps.twitter.com/ and create a new app with read/write
# access, then generate a user access token.

export API_KEY='this comes from your app'
export API_SECRET='this comes from your app'
export ACCESS_TOKEN='this is for your user'
export ACCESS_TOKEN_SECRET='this is for your user'
